<% provide(:menu, "orders") %>

<div class="page-header">
  <%= link_to orders_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_order_path(@order), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Order <%= @order.id %></h1>
</div>

<div class="row">
	<div class="col-md-4">
		<dl class="dl-vertical">
		  <dt>Client</dt>
		  <dd><%= link_to @order.client.name, @order.client unless @order.client.nil? %></dd>
		
		  <dt>Waiter</dt>
		  <dd><%= link_to @order.waiter.name, @order.waiter unless @order.waiter.nil? %></dd>
		</dl>
	</div>
	<div class="col-md-4">
		<dl class="dl-vertical">
		  <dt>Table</dt>
		  <dd><%= @order.table.name unless @order.table.nil? %></dd>
		  <dt>Status</dt>
		  <dd><%= @order.status %></dd>
		</dl>
	</div>
	<div class="col-md-4">
		<dl class="dl-vertical">
		  <dt>Date</dt>
		  <dd><%= @order.created_at %></dd>
		  <dt>Total</dt>
		  <dd><h4><%= number_to_currency(@order.total) %></h4></dd>
		</dl>
	</div>
</div>

<%= render 'order_lines/list', :order_lines => @order.order_lines %>
