<% provide(:menu, "home") %>

<div class="page-header">
  <%= link_to new_sub_category_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Sub category
  <% end %>
  <h1>sub_categories</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Order</th>
            <th>Active</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @sub_categories) do |sub_category| %>
            <td><%= sub_category.name %></td>
            <td><%= sub_category.category_id %></td>
            <td><%= sub_category.order %></td>
            <td><%= sub_category.active %></td>
            <td><%= link_to 'Show', sub_category %></td>
        <td><%= link_to 'Edit', edit_sub_category_path(sub_category) %></td>
        <td><%= link_to 'Destroy', sub_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
