<% provide(:menu, "home") %>

<div class="page-header">
  <%= link_to order_lines_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_order_line_path(@order_line), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show order_line</h1>
</div>

<dl class="dl-horizontal">
  <dt>Order:</dt>
  <dd><%= @order_line.order_id %></dd>

  <dt>Product:</dt>
  <dd><%= @order_line.product_id %></dd>

  <dt>Quantity:</dt>
  <dd><%= @order_line.quantity %></dd>

  <dt>Value:</dt>
  <dd><%= @order_line.value %></dd>

  <dt>Status</dt>
  <dd><%= @order_line.status %></dd>

</dl>
