<% provide(:menu, "home") %>

<div class="page-header">
  <%= link_to menu_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Menu
  <% end %>
  <% if manager? %>
	  <%= link_to products_path, class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    List
	  <% end %>
	  <%= link_to edit_product_path(@product), class: 'btn btn-primary' do %>
	    <span class="glyphicon glyphicon-pencil"></span>
	    Edit
	  <% end %>
  <% end %>
  <h1>Product <%= @product.name %> - <%= number_to_currency(@product.price) %></h1>
</div>

<div class="row">
	<div class="col-md-9">
		<dl class="dl-horizontal">
		
		  <dt>Short name</dt>
		  <dd><%= @product.short_name %></dd>
		  
		  <dt>Description</dt>
		  <dd><%= @product.description %></dd>
		
		  <dt>Category</dt>
		  <dd><%= link_to @product.category.name, @product.category unless @product.category.nil? %></dd>
		
		  <dt>Sub category</dt>
		  <dd><%= link_to @product.sub_category.name, @product.sub_category unless @product.sub_category.nil? %></dd>
		
		  <dt>Order</dt>
		  <dd><%= @product.order %></dd>
		
		  <dt>Active</dt>
		  <dd><%= @product.active %></dd>
		
		</dl>
	</div>
	<div class="col-md-3">
		<%= image_tag @product.image.url(:medium) %>
	</div>
</div>
